/*
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 
manifest {
  author = 'Marco De La Pierre'
  name = 'demo-shpc-nf'
  description = 'Demo RNAseq pipeline, to test interplay with SHPC container modules'
  homePage = 'https://github.com/marcodelapierre/demo-shpc-nf'
}


profiles {
  standard {
    process.container = 'nextflow/rnaseq-nf:latest'
  }

  singularity {
    process.container = 'nextflow/rnaseq-nf:latest'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  
  slurm {
    process.container = 'nextflow/rnaseq-nf:latest'
    process.executor = 'slurm'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  
}
